$primary: Teal;
$body-bg: Lavender;

@import '~bootstrap/scss/bootstrap.scss';
//@import "node_modules/bootstrap/scss/bootstrap";

.navbar {
  background-color: $primary;
  border-radius: 0px 0px 1em 1em;
  margin-bottom: 2em;
}

//$color: steelblue;

//.my-flix {
  //  color: $color;
//}